.image-thumb{
  width: 30%;
  float: left;
  text-align: center;
  background: wheat;
  height: 300px;
  margin:  20px 1.5%;
  border: 1px solid black;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);

  &__image{
    display: inline-block;
    width: 250px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    //height: 3;
  }
}