.image-thumb{
  position: relative;
  width: 16%;
  float: left;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  background: #f9fbe7;
  height: 250px;
  margin:  20px .325%;
  border: 1px solid black;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background .3s;

  &_selected{
    background: #a5d6a7;

    &:hover{
      background: #a5d6a7 !important;
    }

    .image-thumb__check{
      opacity: 1;
    }
  }

  &:hover{
    background: #f4f6e2;
  }

  &__image{
    display: inline-block;
    width: 100%;
    max-width: 250px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    //height: 3;
  }

  &__check{
    position: absolute;
    width: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s;

    svg{
      fill: #43a047;
    }
  }
}

@media screen and (min-width: @media-big) and (max-width: @media-large){
  .image-thumb{
    width: 24%;
    margin:  20px .5%;
  }
}

@media screen and (max-width: @media-big){
  .image-thumb{
    width: 48%;
    margin:  20px 1%;
  }
}